	
#Title1 {
	font-size:22px;
	font-family:Georgia;
	text-align:center;
	margin-top: 0px;
  background:#001A54;
  color:white;
} 

#ResumeTitle {
	font-size:22px;
	font-family:Georgia;
	text-align:center;
	margin-top: 0px;
  background:#001A54;
  color:white;
}

#AboutMe {
	border-radius:25px;
	background:#D1F6FF;
	padding:20px;
	height:500px;
	width:1000px;
	margin-right: 150px;
  margin-left: 110px;
}

#Education {
	border-radius:25px;
	background:#D1F6FF;
	padding: 20px;
	height:550px;
	width:1000px;
	margin-right: 150px;
  margin-left: 110px;
}

#embeddedresume{
	margin-top: 3px;
	margin-right: 150px;
  margin-left: 150px;
  border-radius:25px;
	background:#D1F6FF;
	padding: 30px;
	height:600px;
	width:1000px;
	margin-right: 150px;
  margin-left: 110px;
	
}

#menu1 {
	margin-top:3px;
	background-color:#001A54;
	font-size:16px;
	font-family:Georgia;
	color:white;
}

#menu1 ul li{
	list-style-type:none;
	text-align: center;
	display:inline;
	padding:5px;
	margin-left: 110px
}

#menu1 ul li a {
  display: block;

 }

#resumemenu {
	margin-top:5px;
	background-color:#001A54;
	font-size:16px;
	font-family:Georgia;
	color:white;
}

#resumemenu ul li{
	list-style-type:none;
	text-align: center;
	display:inline;
	padding:5px;
	margin-left: 110px
}

#resumemenu ul li a {
  display: block;

 }

h2{
 	font-family:Verdana;
 }

#aboutmeheading {
	font-family: Verdana;
	font-size: 22px;
	text-align:left;
}
#AboutMe td {
 	font-family: Verdana;
 }

img{
	height:400px;
	width:300px;
}

#footer1 {
	margintop:0px;
	background-color:#001A54;
	font-size:12px;
	font-family:Georgia;
	color:white;
	text-align:center;
	margin-bottom:1px;
	margin-right: 0px;
	margin-left:0px;
}

#resumefooter {
	margintop:0px;
	background-color:#001A54;
	font-size:12px;
	font-family:Georgia;
	color:white;
	text-align:center;
	margin-bottom:1px;
	margin-right: 0px;
	margin-left:0px;
}

hr {
background-color:#D1F6FF;	
}

a:link {
	color:white;
}

a:visited {
	color:hotpink;
}





